<div>
    <h1>np-ui-date-picker</h1>
    <h3>Custom Angular 9 and 9+ date picker component.</h3>
</div>

<div>
    <fieldset>
        <legend>1. Default Date picker control.</legend>
        <np-ui-date-picker [(value)]="date1">
        </np-ui-date-picker>
        <div>Selected Date : {{date1}}</div>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>2. Set display format for date picker.</legend>
        <np-ui-date-picker [(value)]="date2" [format]="format">
        </np-ui-date-picker>
        <button (click)="changeFormat()">Change Format to dd/MMM/yyyy</button>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>3. Get and Set value in Date picker.</legend>
        <np-ui-date-picker #datepicker2 [(value)]="date3">
        </np-ui-date-picker>
        <div>Selected Date : {{selectedDate3}}</div>
        <div>
            <button (click)="getSelectedDate()">Get Selected Date</button>
            <button (click)="setSelectedDate()">Set date as 28/Oct/19</button>
            <button (click)="setNullSelectedDate()">Set date as null</button>
        </div>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>4. Bind onchange event for date picker.</legend>
        <np-ui-date-picker (onChange)="onChange($event)" [(value)]="date4"></np-ui-date-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>5. Show date picker as always open.</legend>
        <np-ui-date-picker [defaultOpen]="true"></np-ui-date-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>6. Min Max validation in Date picker</legend>
        From :<np-ui-date-picker [maxDate]="maxDate6" [(value)]="minDate6"></np-ui-date-picker>
        To: <np-ui-date-picker [minDate]="minDate6" [(value)]="maxDate6"></np-ui-date-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>7. Toggle Enable/Disable Date picker using button click.</legend>
        <np-ui-date-picker [disabled]="date5Enabled"></np-ui-date-picker>
        <div>
            <button (click)="date5Enabled = !date5Enabled">Toggle Enable/Disable</button>
        </div>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>8. Set placeholder for datepicker.</legend>
        <np-ui-date-picker [placeholder]="'Select Start Date'"></np-ui-date-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>9. Show today button in datepicker.</legend>
        <np-ui-date-picker [showTodayButton]="true"></np-ui-date-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>10. Required validation when selected date is null. Also set name attribute for control.</legend>
        <np-ui-date-picker [required]="true" [name]="'txtDate'"></np-ui-date-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>11. All Saturdays and Sundays are disabled in below example.
        </legend>
        <np-ui-date-picker [disableWeekDays]="disabledDays11"></np-ui-date-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>12. Today and tomorrow are disabled in below example.
        </legend>
        <np-ui-date-picker [disableDates]="disabledDates12"></np-ui-date-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>13. Show Date labels on hover of today and tomorrow.</legend>
        <np-ui-date-picker [dateLabels]="dateLabels13"></np-ui-date-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>14. Start with monday</legend>
        <np-ui-date-picker [isStartMonthWithMonday]="true"></np-ui-date-picker>
    </fieldset>
</div>