<app-np-date-picker [(value)]="birthDate" [showTimePicker]=true></app-np-date-picker>
<div>{{birthDate | date : 'dd/MM/yyyy hh:mm:ss a'}}</div>

<br>

<app-np-date-picker [(value)]="date1" #datepicker format="dd/MMM/yy" (onChange)="onChange(date1)"></app-np-date-picker>
<button (click)="getSelectedDate()">Get Selected Date</button>
<div>{{selectedDate | date :'dd/MMM/yy'}}</div>
<button (click)="setSelectedDate()">Set date as 28/10/1992</button>

<br>
<br>

<app-np-date-picker [(value)]="date" defaultOpen=true (onChange)="onChange(date)"></app-np-date-picker>

<br>

<p>Validations</p>

<app-np-date-picker [minDate]="minDate" [maxDate]="maxDate" #dateValidations></app-np-date-picker>
<button (click)="setInvalidDate()">Set invalid date</button>